<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- Compiled and minified CSS -->
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->

</head>
<body>
    
     <nav class="nav-wrapper">
      <div class="row blue-grey darken-4"> 
        <div class="col-md-1 bg-dark"></div>
        <div class="col-md-5 navbar-expand-lg navbar-dark bg-dark">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            </ul>
        </div> 
        <div class="col-md-5 navbar-expand-lg navbar-dark bg-dark ">
            <ul class="right navbar-nav mr-auto nav justify-content-end">
              <li class="nav-item"><a class="nav-link" href="/painel">Painel</a></li>
              <li class="nav-item"><a class="nav-link" href="/auth/signup">Sigunp</a></li>
              <li class="nav-item"><a class="nav-link" href="/auth/login">Login</a></li>
            </ul>
        </div>
        <div class="col-md-1 bg-dark"></div>
      </div> 
    </nav>

  {{{body}}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
  
  
  
     
</body>
</html>