<div class="container">
<div class="row h-100 align-self-center">
    <div class="col-md-4"></div>
      <div class="col-md-4 my-auto">
        <h5>Welcome, friend!</h5> 
        <form action="/manager/store">
          <button class="mb-1 btn btn-primary" type="submit">Add a new store</button>
        </form>
        <form action="/logout">
          <button id="sp" class="mb-1 btn btn-primary right-align" type="submit">Logout</button>
        </form>
      </div>
    <div class="col-md-4"></div>    
</div>
</div>

<div class="container">
<div class="row h-100 align-self-center">
    <div class="col-md-3"></div>
      <div class="col-md-6 my-auto">
      {{#if registredStores }}
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Store</th>
            <th>Adress</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>  
          {{#each registredStores.stores }}  
          <tr>
            <td>{{this.name}}</td>
            <td>{{this.address}}</td>
            <td><a href="/manager/store/edit/{{this._id}}" class="green-text text-darken-2">Edit</a></td>
            <td><a href="/manager/painel/{{this._id}}" class="green-text text-darken-2">Delete</a></td>
          </tr>
          {{/each}}
      </table>
      {{/if }}
    <div class="col-md-3"></div>    
</div>
</div>
        